<h1>Edit task</h1>

<%= form_for @task do |f| %>
  <p class="field">
    <%= f.text_field :description, :size => @task.description.size %>
  </p>
  <p class="actions">
    <%= f.submit 'Save' %>
  </p>
<% end %>
