<h1>Settings</h1>

<div id="main">
  <div id="my_info" class="section round">
    <h2 class="title">My info</h2>
    <%= render 'user_form' %>

    <p>
      <%= link_to 'Go back!', root_path %>
    </p>
  </div>
</div>
