<h1>Home</h1>

<div id="main">
  <div id="sign_up" class="section round">
    <h2 class="title">Sign up</h2>
    <%= render 'user_form' %>

    <%= link_to 'Go back to sign in page', new_user_session_path %>
  </div>
</div>

