<% if errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(errors.count, "error") %> prohibited this request:
    </p>
    <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>