<table id="task_list" class="zebra">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.empty? %>
      <%= render 'shared/no_task_list_item' %>
    <% else %>
      <%= render :partial => 'shared/task_list_item', :collection => @tasks, :as => :task %>
    <% end %>
  </tbody>
</table>
