<tr>
  <td>
    <%= task.description %>
  </td>
  <td>
    <%= render :partial => 'shared/completed_field_form', :locals => { :task => task } %>
  </td>
  <td>
    <%= button_to "delete", task, :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>