<table id="task_list">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.empty? %>
      <tr id="no_task_item">
        <td colspan="3">You have no tasks!</td>
      </tr>
    <% else %>
      <%= render :partial => 'shared/task_list_item', :collection => @tasks, :as => :task %>
    <% end %>
  </tbody>
</table>
