<h1>Home</h1>

<div id="main">
  <div id="tasks">
    <h2>My tasks</h2>
    
    <% unless @task.nil? %>
      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %>
              prohibited this task from being saved:</h2>
          <p>There were problems with the following fields:</p>
          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    
    <%= render :partial => 'shared/new_task_form', :locals => { :task => @task } %>
    
    <%= render 'shared/task_list', :collection => @tasks %>
  </div>
</div>
