// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
  background-color: #FDB813;
}

.round {
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#main {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

input.submit {
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 3px;
}

h1 {
  color: #754929;
  padding-left: 30px;
}

h2.title {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  color: #FDB813;
}

#new_task_form, #task_list {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

#tasks {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFFFFF;
}

#task_description {
  height: 20px;
}

#new_task_form #task_description {
  height: 20px;
  width: 350px;
}

#task_list td {
  padding-right: 12px;
  padding-left: 10px;
}

#nav {
  position: absolute;
  top: 7px;
  right: 40px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: #FFFFFF;
  color: #FDB813;
}

#nav a {
  color: #FDB813;
}

a.completed {
  text-decoration: line-through;
}
