// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #754929;
$orange: #FDB813;
$blue: #39C;

body {
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
  background-color: $orange;
  color: $brown;
}

.round {
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#main {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

input.submit {
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 3px;
}

h1 {
  color: $brown;
  padding-left: 30px;
}

h2.title {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  color: $brown;
}

#tasks {
  width: 550px;
}

#my_info, #sign_up, #sign_in {
  width: 400px;
}

#new_task_form, #task_list {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

div.section {
  padding-left: 20px;
  padding-right: 10px;
  background-color: #FFFFFF;
  padding-bottom: 10px;
  -moz-box-shadow: -5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

#task_description {
  height: 20px;
}

#new_task_form #task_description {
  height: 20px;
  width: 350px;
}

#task_list td {
  padding-right: 12px;
  padding-left: 10px;
}

.spent_time {
  background-color: $blue;
  color: white;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-top: 1px;
  margin: 0px;
}

.arrow_up {
  margin-left: 22px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid $blue;
}

a.close {
  float: right;
  padding-right: 20px;
  padding-top: 8px;
}

#nav {
  position: absolute;
  top: 7px;
  right: 40px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: #FFFFFF;
  color: $brown;
  -moz-box-shadow: -5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

#nav a {
  color: $brown;
}

a.completed {
  text-decoration: line-through;
}

form.formatted .field input {
  height: 20px;
  padding-left: 5px;
}

form.formatted .field label {
  float: left;
  display: block;
  padding-right: 10px;
  width: 150px;
}

