// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brown: #754929;
$orange: #FDB813;
$blue: #39C;
$light-blue: #DAECFD;

body {
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
  background-color: #F7F7F7;
  margin: 0px;
  color: #555;
}

#header{
  height: 100px;
  
  /* Gradient */
  $fromColor: #377BC8;
  $toColor: #04468F;
  background: -moz-linear-gradient($fromColor, $toColor); /* FF 3.6+ */  
  background: -ms-linear-gradient($fromColor, $toColor); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient($fromColor, $toColor); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient($fromColor, $toColor); /* Opera 11.10 */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fromColor', endColorstr='$toColor'); /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform164E88oft.gradient(startColorstr='$fromColor', endColorstr='$toColor')"; /* IE8+ */  
  background: linear-gradient($fromColor, $toColor); /* the standard */
}

#header h1 {
  padding-top: 20px;
  margin: 0px;
  a {
    font-size: 1.2em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    color: #F7F7F7;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  }
}

#nav {
  color: white;
  position: absolute;
  top: 7px;
  right: 40px;
  padding: 7px 20px;
  font-size: 0.9em;
  -moz-box-shadow: 3px 3px 5px #444;
  -webkit-box-shadow: 3px 3px 5px #444;
  box-shadow: 3px 3px 5px #444;
  border-top: 0.9px solid;
  
  /* Gradient */
  $fromColor: #35D248;
  $toColor: #006B0D;
  background: -moz-linear-gradient($fromColor, $toColor); /* FF 3.6+ */  
  background: -ms-linear-gradient($fromColor, $toColor); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient($fromColor, $toColor); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient($fromColor, $toColor); /* Opera 11.10 */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fromColor', endColorstr='$toColor'); /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform164E88oft.gradient(startColorstr='$fromColor', endColorstr='$toColor')"; /* IE8+ */  
  background: linear-gradient($fromColor, $toColor); /* the standard */
  
  a {
    color: white;
    padding: 2px;
    text-decoration: none;
  }
  a:hover {
    background-color: white;
    color: #222;
  }
}

#main {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.flash {
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  max-width: 500px;
  border: 1px dashed;
  
  p {
    padding: 20px;
    margin: 0px;
  }
}

.notice {
  background-color: rgba(255, 255, 0, 0.4);
}

.round {
  -moz-border-radius: 15px;
  border-radius: 15px;
}

input.submit {
  padding-left: 10px;
  padding-right: 11px;
  padding-bottom: 3px;
}

h1 {
  //color: $brown;
  padding-left: 30px;
}

h2.title {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  //color: $brown;
}

#tasks {
  width: 550px;
}

#my_info, #sign_up, #sign_in {
  width: 400px;
}

#new_task_form {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

div.section {
  padding-left: 20px;
  padding-right: 10px;
  background-color: white;
  padding-bottom: 10px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
  border: 1px solid #DDD;
}

#task_description {
  height: 20px;
}

#new_task_form #task_description {
  height: 20px;
  width: 350px;
}

table {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-spacing: 0px;
  tbody {
    font-size: 0.8em;
  }
  td {
    padding-right: 5px;
    border-bottom: 1px dashed #AAA;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  td.add_time {
    padding-left: 10px;
    width: 70px;
  }
}

.spent_time {
  background-color: $blue;
  color: white;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-top: 1px;
  margin: 0px;
}

.arrow_up {
  margin-left: 22px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid $blue;
}

a.close {
  float: right;
  padding-right: 20px;
  padding-top: 8px;
}

a.completed {
  text-decoration: line-through;
}

form.formatted .field input {
  height: 20px;
  padding-left: 5px;
}

form.formatted .field label {
  float: left;
  display: block;
  padding-right: 10px;
  width: 150px;
}

input.submit {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  /* round */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  
  background: #04468F repeat-x;
  /* Gradient */
  $fromColor: #377BC8;
  $toColor: #04468F;
  background: -moz-linear-gradient($fromColor, $toColor); /* FF 3.6+ */
  background: -ms-linear-gradient($fromColor, $toColor); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient($fromColor, $toColor); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient($fromColor, $toColor); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fromColor', endColorstr='$toColor'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform164E88oft.gradient(startColorstr='$fromColor', endColorstr='$toColor')"; /* IE8+ */
  background: linear-gradient($fromColor, $toColor); /* the standard */
}

input.submit:hover {
  padding-top: 6px;
  padding-bottom: 5px;
  background: #04468F repeat-x;
  /* Gradient */
  $fromColor: #04468F;
  $toColor: #377BC8;
  background: -moz-linear-gradient($fromColor, $toColor); /* FF 3.6+ */
  background: -ms-linear-gradient($fromColor, $toColor); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient($fromColor, $toColor); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient($fromColor, $toColor); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fromColor', endColorstr='$toColor'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform164E88oft.gradient(startColorstr='$fromColor', endColorstr='$toColor')"; /* IE8+ */
  background: linear-gradient($fromColor, $toColor); /* the standard */
}
